<div>
    <h2 data-translate="gatewayApp.userExtension.home.title">User Extensions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-extension.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gatewayApp.userExtension.home.createLabel">
                        Create new User Extension
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="gatewayApp.userExtension.sex">Sex</span></th>
                    <th><span data-translate="gatewayApp.userExtension.birthdate">Birthdate</span></th>
                    <th><span data-translate="gatewayApp.userExtension.memberSince">Member Since</span></th>
                    <th><span data-translate="gatewayApp.userExtension.firstName">First Name</span></th>
                    <th><span data-translate="gatewayApp.userExtension.lastName">Last Name</span></th>
                    <th><span data-translate="gatewayApp.userExtension.phoneNumber">Phone Number</span></th>
                    <th><span data-translate="gatewayApp.userExtension.image">Image</span></th>
                    <th><span data-translate="gatewayApp.userExtension.aboutMe">About Me</span></th>
                    <th><span data-translate="gatewayApp.userExtension.userId">User Id</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userExtension in vm.userExtensions track by userExtension.id">
                    <td><a ui-sref="user-extension-detail({id:userExtension.id})">{{userExtension.id}}</a></td>
                    <td data-translate="{{'gatewayApp.Sex.' + userExtension.sex}}">{{userExtension.sex}}</td>
                        <td>{{userExtension.birthdate | date:'mediumDate'}}</td>
                    <td>{{userExtension.memberSince | date:'medium'}}</td>
                    <td>{{userExtension.firstName}}</td>
                    <td>{{userExtension.lastName}}</td>
                    <td>{{userExtension.phoneNumber}}</td>
                    <td>
                        <a ng-if="userExtension.image" ng-click="vm.openFile(userExtension.imageContentType, userExtension.image)">
                            <img data-ng-src="{{'data:' + userExtension.imageContentType + ';base64,' + userExtension.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="userExtension.image">{{userExtension.imageContentType}}, {{vm.byteSize(userExtension.image)}}</span>
                    </td>
                    <td>{{userExtension.aboutMe}}</td>
                    <td>{{userExtension.userId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-extension-detail({id:userExtension.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-extension.edit({id:userExtension.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-extension.delete({id:userExtension.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
